
@media(max-width:500px)
		
	{
		 .BUYNOW{margin-left: 200px}
		 .div1{width: 100%; margin: 0;height: 1000px;}
		.co3{width: 100%; margin-top: -450px;margin-left: 0px}
		 .div1-info{width: 100%; padding-top:500px}
		 .Trusted{margin-top:550px; font-size:20px; text-align:left; }
		 .over{font-size:20px; text-align:left;}
		 .by{font-size:11px; text-align:left; }
		 .bring{font-size:10px; text-align:left;}
		 .pic1{width:50%; margin-top:-180px; margin-left:10px}
		 .pic2{width:50%; margin-top:-100px; margin-left:170px}

		 .Mission{margin-top:200px;width:auto;}
		 .info{margin-top:-600px}
	 	 .round {height:150px;width:150px;background: lightskyblue; border-radius:50%;}
	 	 .about10{height:270px;width:370px;}
	 	 .Fusce{display:none;}
	 	 .tellus{font-size:14px; background:ghostwhite; margin-top: -100px; margin-left:-7px; text-align:center;}
	 	 .product-card{margin-top:400px; display: flex; flex-wrap: wrap;}
	 	 .product{height:350px; width:300px}
	 	 .prd-img{height:250px; width:300px}
	 	 .creative{font-size:10px}
	 	 .proud{display: flex; flex-wrap: wrap; margin-top:100px; width:auto;}
	 	 .icon1{margin-top: 90px;}
	 	 .Brings1{height:300px; width:900px; margin-left:50px}
	 	 .playBtn{margin-left:160px;margin-top: -250px;}
	 	 .test{font-size:16px; margin-left:40px;margin-top: -80px}
	 	 .div100{width:300px;}
	 	 .div80{width:300px;}
	 	 .div85{width:300px;}
	 	 .premium{margin-left:50px; margin-top:700px; font-size: 10px;}
	 	 .see{margin-left:-30px; margin-top:10px}
	 	 .img19{margin-top:300px; margin-left:-100px; margin-bottom:-100px; width:400px; height: 400px}
	 	 .img49{margin-top:100px; margin-left:-100px;margin-bottom:-500px;width:400px; height: 400px}
	 	 .part1{margin-top:2600px; margin-left:-900px; background: ghostwhite; height:400px;}
	 	 .part2{margin-left:600px; background: ghostwhite; font-size:16px}
	 	 .part3{margin-left:-100px;margin-top:320px; height:320px; width:300px; background: ghostwhite;text-decoration:none;}
	 	 .the{height:800px; background: ghostwhite; margin-left:-500px; margin-top:900px}
	 	 .class{margin-top:2800px; margin-left:-100px}
	 	 span{margin-left:-100px;margin-top:100px}
	 	 .I1{margin-left:-100px; margin-top:100px}
	 	 .NeedHelp{margin-top:400px}
	 	 .LearnMore{margin-top:400px}
	 	 .LearnMore{margin-top:800px}
	 	 .GetinTouch{margin-top:1200px}